<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <div>
                {{ org_filter }}
                {{ contract_type_filter }}
                {{ currency_filter }}
            </div>
            <div>
                {{ date_picker }}
            </div>
        </fieldset>
        <input type="submit" value="Submit">
    </form>

    {{ detail_tbl|safe }}
</body>
</html>